.project {
    width: 350px;
    border: 1px solid;
    background: #f7f7f7;
}

.photoBlock {
    background: lightcyan;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.descriptionBlock {
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

.title {
    background: #99d0fb;
}

.description {
    background: #99d0fb;
    width: 100%;
}