$textColorTitle: #333;
$textColorSubtitle: #878d8d;
$textSecondColor: #6e7373;
//$bgColor: #f8f9fa;
$bgSecondColor: #fff;
$bgSecColor: #f78da7;
$bgButtonColor: #fd735a;
$bgTextButtonColor: #fff;

$bgColor: #ecf0f3; //common background-color
$colorSubtitle: #f9004d;
$colorBody: #3c3e41;
$primary: #ff014f;
$colorHeading: #1e2125;