.footerBlock {
    background-color: #99d0fb;
}

.container {
    flex-direction: column;
    justify-content: flex-start;
    padding: 50px 0;
}

.title {
    background: #f7f7f7;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    margin-bottom: 15px;
}

.icon1 {
    background: lightcyan;
    border: 1px solid;
    height: 50px;
    width: 50px;
}
.icon2 {
    background: bisque;
    border: 1px solid;
    height: 50px;
    width: 50px;
}